:root {
    --main-color: #0085f8;
    --text-white: #fdffff;
}
.App {
    text-align: center;
    font-family: "Rubik", "Cairo", "Helvetica Neue", Helvetica, Arial;
    background-color: #f4f4f4 !important;
}

main {
    margin: 95px 0 !important;
}

.map-container {
    height: 100%;
    width: 100%;
}

.pac-target-input {
    width: 300px !important;
    direction: rtl !important;
    display: absolute !important;
    top: 10px !important;
    right: 5vw !important;
    z-index: 999;
    margin: 0 !important;
}

.infoBox {
    max-width: 300px !important;
    max-height: 800px !important;
    cursor: default;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -263;
}
.info_box_custom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: white ;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 
  5px 0px 5px rgba(0, 0, 0, 0.388),
  -5px 5px 5px rgba(0, 0, 0, 0.388); */
    overflow: auto;
    z-index: 999 !important;
    overflow: visible !important;
    font-family: "Rubik", "Cairo", "Helvetica Neue", Helvetica !important;
}

.gm-style-iw.gm-style-iw-c {
    padding: 0 !important;
}
.gm-style .gm-style-iw-c {
    padding: 0 !important;
}

.gm-style-iw-d {
    margin-bottom: -20px !important;
    margin-right: -20px !important;
}
